# Backends e modelos
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers>=4.26.0
sentencepiece
torchaudio
librosa
soundfile
protobuf==3.20.*

# App e utilitários
streamlit
Pillow
